@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

/* root reset */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

ul{
    padding: 0 !important;
}


/* Animations */

@keyframes smoothFade {
    from{
        opacity: 0;
        transform: translateY(-40px) ;
    }
    to{
        opacity: 1;
    }
}

.showIn{
    animation: smoothFade;
    animation-duration: 4s;
}

/* Nav Bar */

header{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

#navBar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
}

a{
    color: aliceblue !important;
    text-decoration: none !important;
}


#navBarLinkList{
    margin: 0;
}

#navBarLinkList > .btn{
    width: 150px;

}

#navBarLinkList > .btn:hover{
    opacity: 0.8;
}

.navbar-brand{
    padding-left: 20px; 
    color: aliceblue !important; 
}


/* Intro Section */

#intro{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/sakuratree.jpg);
    background-size: cover;
}

#intro > h1, h2{
    animation: smoothFade;
    animation-duration: 4s;
    font-weight: bold;
    text-shadow: 4px 4px black;
}


/* About Me Section */

#aboutMe{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
}

.profilePic{
    border: black solid 4px;
    border-radius: 50%;
    margin: 20px 0;
}

.selfProclaimContainer{
    margin: 20px 0;
    padding: 20px 30px;
    background-color: rgb(201, 198, 198);
    border: solid 2px black;
    border-radius: 4px;
}

.selfProclaimList{
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.selfProclaimItem{
    list-style: none;
    margin: 0 20px;
}

li > i {
    padding: 20px 0;
    font-size: 60px;
}


/* Technologies Section */

#technologies{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(201, 198, 198);
}

.techContainer{
    text-align:center;
    font-size: 1.2rem;
    padding: 40px 0;
}

.cardContainer{
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
}
  
img{
    flex: 1 1 20%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}