@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

/* root reset */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

ul{
    padding: 0 !important;
}


/* Animations */

@keyframes smoothFade {
    from{
        opacity: 0;
        transform: translateY(-40px) ;
    }
    to{
        opacity: 1;
    }
}

@keyframes smoothColor {
    from{
        filter: grayscale(100);
    }
    to{
        filter:grayscale(0)
    }
}

.showIn{
    animation: smoothFade;
    animation-duration: 1s;
}

/* Nav Bar */

header{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}

#navBar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
}

a{
    color: aliceblue !important;
    text-decoration: none !important;
}


#navBarLinkList{
    margin: 0;
}

#navBarLinkList > .btn{
    width: 150px;

}

#navBarLinkList > .btn:hover{
    opacity: 0.8;
}

.navbar-brand{
    padding-left: 20px; 
    color: aliceblue !important; 
}


/* Intro Section */

#intro{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/sakuratree.jpg);
    background-size: cover;
}

#intro > h1, h2{
    animation: smoothFade;
    animation-duration: 4s;
    font-weight: bold;
    text-shadow: 4px 4px black;
}


/* About Me Section */

#aboutMe{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
}

.profilePic{
    border: black solid 4px;
    border-radius: 50%;
    margin: 20px 0;
}

.selfProclaimContainer{
    margin: 20px 0;
    padding: 20px 30px;
    background-color: rgb(201, 198, 198);
    border: solid 2px black;
    border-radius: 4px;
}

.selfProclaimList{
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.selfProclaimItem{
    list-style: none;
    margin: 0 20px;
}

li > i {
    padding: 20px 0;
    font-size: 60px;
}


/* Technologies Section */

#technologies{
    height: 100vh;
    background-color: rgb(201, 198, 198);
}

.techContainer{
    padding: 8% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.cardContainer {
    margin: 5% 0;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.img1 { grid-area: 1 / 1 / 2 / 2; justify-self: center; }
.img2 { grid-area: 1 / 2 / 2 / 3; justify-self: center; }
.img3 { grid-area: 1 / 3 / 2 / 4; justify-self: center; }
.img4 { grid-area: 2 / 1 / 3 / 2; justify-self: center; }
.img5 { grid-area: 2 / 2 / 3 / 3; justify-self: center; }
.img6 { grid-area: 2 / 3 / 3 / 4; justify-self: center; }
.img7 { grid-area: 3 / 1 / 4 / 2; justify-self: center; }
.img8 { grid-area: 3 / 2 / 4 / 3; justify-self: center; }
.img9 { grid-area: 3 / 3 / 4 / 4; justify-self: center; }

.cardContainer > img{
    filter: grayscale(100);
}

.cardContainer > img:hover{
    animation: smoothColor;
    animation-duration: 1s;
    filter: none;
    cursor: pointer;
}

/* Projects Section */

#projects{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 110vh;
}