@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

/* root reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    padding: 0 !important;
}


/* Animations */

@keyframes smoothFade {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
    }
}

@keyframes smoothColor {
    from {
        filter: grayscale(100);
    }

    to {
        filter: grayscale(0)
    }
}


.showIn {
    animation: smoothFade;
    animation-duration: 2s;
}


/* Nav Bar */

header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}

#navBar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
}

#navBarLinkList>.btn>a {
    color: aliceblue;
    text-decoration: none;
}


#navBarLinkList {
    margin: 0;
}

#navBarLinkList>.btn {
    width: 150px;
    border: none;
}

#navBarLinkList>.btn:hover {
    opacity: 0.8;
}

.navbar-brand {
    padding-left: 20px;
    color: aliceblue !important;
}

.dropdown {
    display: none;
}

/* Intro Section */

#intro {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/sakuratree.jpg);
    background-size: cover;
}

#intro>h1,
#intro>p {
    animation: smoothFade;
    animation-duration: 4s;
    font-weight: bold;
    text-shadow: 4px 4px black;
}



/* About Me Section */

#aboutMe {
    padding: 10% 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 1.3rem;
    padding: 10%;
}

#aboutMe>.container>p>a {
    color: #0e76a8;
    text-decoration: none;
}

.profilePic {
    border: black solid 4px;
    border-radius: 50%;
    margin: 20px 0;
}

.selfProclaimContainer {
    margin: 30px 0;
    padding: 5% 10%;
    background-color: rgb(201, 198, 198);
    border: solid 2px black;
    border-radius: 4px;
}

.selfProclaimList {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 30px 0;
    align-items: center;
}

.selfProclaimItem>li {
    list-style: none;
    margin: 0 25%;
    display: inline-flex;
    flex-direction: column;
}

.selfProclaimItem>li>i {
    padding: 20px 0;
    font-size: 4rem;
    text-align: center;
}


/* Technologies Section */

#technologies {
    height: fit-content;
    background-color: rgb(201, 198, 198);
}

.techContainer {
    padding: 8% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.cardContainer {
    margin: 5% 0;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.cardContainer>.card {
    height: fit-content;
    width: fit-content;
    background-color: rgb(201, 198, 198);
    border: 0;
    margin: 5%;
}

.img1 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
}

.img2 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
}

.img3 {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: center;
}

.img4 {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
}

.img5 {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}

.img6 {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
}

.img7 {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
}

.img8 {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
}

.img9 {
    grid-area: 3 / 3 / 4 / 4;
    justify-self: center;
}

.cardLabel {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.4rem;
    text-shadow: 2px 2px black;
    margin-top: 5%;
    z-index: 998;
}

.cardContainer>.card>.img-fluid {
    filter: grayscale(100);
}

.cardContainer>.card>.img-fluid:hover {
    animation: smoothColor;
    animation-duration: 1s;
    filter: none;
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.6s;
}


/**/



/* Projects Section */

#projects {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./images/laptop.jpg);
    background-size: cover;
    filter: sepia(40%);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    height: fit-content;
}


#projects>h2,
#projects>p {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px black;
    margin: 20px 0;
}

#carouselProjects {
    height: max-content;
    align-self: center;
    width: 50vw;
    font-size: 1rem;
    font-weight: 600;
}

.carousel {
    width: 500px;
    height: 500px;
}

.carousel-caption {
    background-color: #00000060;
    border-radius: 25%;
}

.carousel-caption>h3,
.carousel-caption>p {
    color: aliceblue;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px black;
}

.carousel-button>.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 5vh;
    width: 5vw;
    background-color: black;
    border-radius: 25%;
    text-shadow: 4px 4px black;
}

.carousel-indicators li {
    background-color: black;
    height: 3px;
    width: 20px;
    z-index: 5 !important;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators li.active {
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 20px;
    z-index: 5 !important;
    padding: 0 5px;
    cursor: pointer;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 25%;
    border: 8px solid black;
}

.carousel-item {
    height: 450px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover
}


/* Contact Section */

#contact {
    background-color: rgb(201, 198, 198);
    padding: 5%;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.actionContent {
    height: fit-content !important;
    margin: 10% 0;
    padding: 40px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    border: 1px groove black;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    align-content: center;
}

.actionText {
    width: 60%;
    text-align: left;
    font-size: 1.2rem;
}


#messageButton {
    background-color: #128C7E;
    color: black;
    border: none;
    height: fit-content;
    align-self: center;
    padding: 4%;
    font-size: 1rem;
}

#messageButton>a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#messageButton>a:hover {
    filter: invert(100);
}

/* Footer */

#footerSection {
    width: 100vw;
    height: 100%;
    background-color: black;
    margin: 0;
    color: aliceblue;
}

.footerContent {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#networkLinks {
    width: 50%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

#networkLinks>li {
    display: inline-block;
    margin: 20px 5px;
}

#networkLinks>li>a {
    text-decoration: none;
    color: aliceblue;
}

.fa-linkedin,
.fa-square-github {
    padding: 0;
    font-size: 4rem;
}

.fa-linkedin:hover {
    color: #0e76a8;
    cursor: pointer;
}

.fa-square-github:hover {
    color: #6e5494;
    cursor: pointer;
}


.carousel-item>img {
    display: block;
    max-width: 100%;
    max-height: 500px;
    justify-self: center;
    border: 8px solid black;
    border-radius: 25%;
}

@media screen and (max-width: 768px) {

    /* Nav Bar Mobile */

    /* hide buttons and adjust brand icon */

    #navBarLinkList {
        display: none;
    }

    #navBar {
        justify-content: space-between;
    }

    .navbar-brand {
        padding-left: 10%;
    }

    /* Drop Down Menu */

    .dropdown {
        display: initial;
    }

    .dropdown>.btn>i {
        font-size: 1.3rem;
    }

    .dropdown>.btn>i:active {
        transform: rotate(360);
    }

    .dropdown-menu {
        width: 100vw;
    }

    #dropdownMenuButton {
        color: aliceblue;
        font-size: 1rem;
        margin: 5px 30px;
        align-self: center;
    }

    .dropdown-menu {
        background-color: black;
    }

    .dropdown-item {
        color: aliceblue;
        text-align: center;
    }

    /* Intro Section Mobile */

    #intro {
        background-image: url(./images/river.jpg);
        background-size: cover;
        font-size: 1em;
        text-align: center;
        border-bottom: 3px solid black;
    }

    /* about Me Section */


    .selfProclaimContainer {
        padding: 10% 20%;
    }

    .selfProclaimList {
        flex-direction: column;
        align-items: center;
    }

    .selfProclaimItem>li {
        margin: 10% 0;
        justify-content: center;
    }

    /* technologies Section */

    .techContainer {
        padding: 15% 5%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .cardContainer {
        display: flex;
        flex-direction: column;
    }

    .cardContainer>.card {
        flex: 1;
        align-self: center;
        margin: 5% 0;
    }

    /* project section */

    #projects {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        background-image: url(./images/tech_abstract.jpg);
        background-size: cover;
        filter: sepia(40%);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20%;
    }

    #carouselProjects {
        align-self: center;
        width: 80vw;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: 2px 2px black;
    }

    /* contact me section */

    .actionContent {
        text-align: center;
        align-items: center;
        margin: 10% 0;
        padding: 10% 5%;
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        border: 1px groove black;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
    }

    #messageButton {
        height: fit-content;
        width: fit-content;
        border-radius: 8px;
        background-color: #128C7E;
        font-size: 1.3rem;
        padding: 8%;
    }


    .actionText {
        width: 60%;
        text-align: center;
        font-size: 1.2rem;
    }


    .actionText>h3 {
        margin-bottom: 15%;
    }

}