---
---

<div class="card card-side bg-base-200 shadow-xl">

    <figure>
        <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" alt="Movie" />
    </figure>
    <div class="card-body">
        <div class="card-header justify-end">
            <p>test</p>
        </div>
        <h2 class="card-title">New movie is released!</h2>
        <p>Click the button to watch on Jetflix app.</p>
        <div>
            <div class="badge badge-neutral">neutral</div>
            <div class="badge badge-primary">primary</div>
            <div class="badge badge-secondary">secondary</div>
            <div class="badge badge-accent">accent</div>
            <div class="badge badge-ghost">ghost</div>
            <div class="badge">default</div>
        </div>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Repository</button>
            <button class="btn btn-primary">Docs</button>
            <button class="btn btn-primary">Live Demo</button>
        </div>
    </div>
  
</div>