---
import {Icon} from 'astro-icon/components'
import { getLangFromUrl, useTranslations } from '../utils/utils';
//TODO: fix for mobile version
export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="flex flex-col bg-gray-100 h-screen justify-center align-center">
  <center class="m-auto">
    <div class="tracking-widest mt-2">
        <Icon name="blacksmith" class="text-[700px] lg:text-[400px]"/>
        <span class="text-gray-500 text-9xl lg:text-6xl block my-4">4  0  4</span>
        <span class="text-gray-500 text-6xl lg:text-2xl">Hanging there, brother. Still working upon it!</span>
      </div>
      <center class="mt-10 lg:mt-6">
        <a href=`${Astro.url.origin}/${lang}/about` class="text-gray-500 font-mono text-4xl lg:text-2xl bg-gray-200 p-3 rounded-md hover:shadow-md">Go back </a>
      </center>
  </center>
  
</div>

<style>
  
    .emoji-404{
    
      position: relative;
      animation: mymove 2.5s infinite;
    }
    
    @keyframes mymove {
      33%   {top: 0px;}
      66%  {top: 20px;}
      100%  {top: 0px}
    }
</style>
        