---
import { getLangFromUrl, useTranslations } from '../utils/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
    <div class="hero min-h-screen hero-image">   
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">{t('home.title')}</h1>
            <p class="mb-5 text-2xl">{t('home.subtitle')}</p>
            <button class="btn btn-outline btn-info"><i class="fa-regular fa-circle-down"></i></button>
          
          </div>
        </div>
    </div>
</section>

<style>
    .hero-image{
        background-image: url(/code-hero-background.jpg);
    }
</style>

