---

---

<li class="tooltip tooltip-right" data-tip="My Discord">
    <a class="p-4 hover:scale-125" onclick="discordModal.showModal()">
      <i class="fa-brands fa-discord fa-lg color-[#7289da]"></i>    
    </a>
</li>

<!-- Card #4 Discord -->
<dialog id="discordModal" class="modal modal-middle justify-center h-full">


  <div class="modal-box bg-[#7289da] border-2 border-black">
    <div class="modal-action justify-end mr-4">
      <form method="dialog">
        <button class="btn-outline bg-transparent rounded-full text-red-700 hover:text-red-700 focus:outline-none font-extrabold absolute"><i class="fa-solid fa-xmark fa-xl"></i></button>
      </form>
    </div>

    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>

  </div>


</dialog>
