---

---

<li class="tooltip tooltip-right" data-tip="What im listening">
    <a class="p-4 hover:scale-125" onclick="spotifyModal.showModal()">
       <i class="fa-brands fa-spotify fa-lg"></i>
    </a>
</li>

<!-- Card #1 Github -->
<dialog id="spotifyModal" class="modal modal-middle justify-center h-full">
  <div class="modal-box bg-[#1db954] border-2 border-black">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
      <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
