---
import { Icon } from "astro-icon/components";
import Playlist from "../playlist.astro";
---

<label for="spotify-modal">
  <li class="tooltip tooltip-right" data-tip="Top 5 Spotify">  
    <a class="p-4 hover:scale-125">
      <Icon name={'fa-brands:spotify'} size={24}/>
    </a>    
  </li>
</label>
        
<input type="checkbox" id="spotify-modal" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box bg-black">
    <Playlist />
  </div>
  <label class="modal-backdrop" for="spotify-modal">Close</label>
</div>