---
import Playlist from "../playlist.astro";

---

<li class="tooltip tooltip-right" data-tip="What im listening">
    <a class="p-4 hover:scale-125" onclick="spotifyModal.showModal()">
       <i class="fa-brands fa-spotify fa-lg"></i>
    </a>
</li>

<!-- Card #5 Spotify -->
<dialog id="spotifyModal" class="modal modal-middle justify-center h-full">
  <div class="modal-box border-2 border-black bg-black w-fit">
    <Playlist />
    <div class="modal-action justify-center">
      <form method="dialog">
      <!-- if there is a button in form, it will close the modal -->
        <button class="btn bg-base-300 rounded-full bg-base-200 text-[#2e763a] font-extrabold	">Close</button>
      </form>
    </div>
  </div>
</dialog>
