---
import { Icon } from "astro-icon/components"
---

<li class="tooltip tooltip-right" data-tip="My Steam profile">
    <a class="p-4 hover:scale-125" onclick="stackModel.showModal()">
      <Icon name={'fa-brands:steam'} size={24}/>
    </a>
</li>

<!-- Card #1 Steam -->
<dialog id="stackModel" class="modal modal-middle justify-center h-full">
  <div class="modal-box bg-[#BCBBBB] border-2 border-black">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
      <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-outline bg-[#F47F24]">Close</button>
      </form>
    </div>
  </div>
</dialog>
