---

---

<footer class="footer footer-center p-5 bg-base-200 bottom-0 static text-base-content border-t-2 border-black">
    <div class="flex">
        <p>Copyright © 2024 - Made with <i class="fa-solid fa-heart" style="color: #e01f1f;"></i> @rdvid</p>
    </div>
</footer>