---
import {Icon} from 'astro-icon/components';
---

<footer class="footer footer-center p-5 bg-transparent text-base-content">
    <div class="w-full flex flex-row justify-end">
       <p>Copyright © 2024 - Made with</p><span><Icon name={"fa:heart"} color='red'/></span><p>@rdvid</p>
    </div>
</footer>