---
import Swapbutton from "./swapbutton.astro";
import { getLangFromUrl, useTranslations } from '../utils/utils';
import { languages, ui } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="navbar bg-base-200 z-50 w-full space-x-4">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a>{t('nav.about')}</a></li>
          <li>
            <a>{t('nav.projects')}</a>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li>
          <li><a>{t('nav.technologies')}</a></li>
          <li><a>{t('nav.contact')}</a></li>
        </ul>
      </div>
      <a class="max-lg:hidden btn btn-ghost normal-case text-xl ml-4">< rdvid /></a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a>{t('nav.about')}</a></li>
        <li tabindex="0">
          <details>
            <summary>{t('nav.projects')}</summary>
            <ul class="p-2 z-50">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </details>
        </li>
        <li><a>{t('nav.technologies')}</a></li>
        <li><a>{t('nav.contact')}</a></li>
      </ul>
    </div>
    <div class="navbar-center sm:hidden flex justify-center">
      <a class="btn btn-ghost normal-case text-xl">< rdvid /></a>
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-hover">
          <label tabindex={0} class="btn m-1"><a><span class=`fi fi-${ lang === 'en' ? 'us': lang }`></span></a></label>
          <ul tabindex={0} class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            {
              Object.keys(languages).map((lang: keyof typeof ui) => (
                <li><a href={`${Astro.url.pathname}/`}><span class={`fi fi-${lang === 'en' ? 'us' : lang}`}></span>{t(`nav.language.${lang}`)}</a></li>
              ))
            }
            
          </ul>
        </div>
        <span><Swapbutton /></span>
        <a class="btn mr-2 max-lg:hidden"><i class="fa-solid fa-download fa-mg"></i>{t('nav.downloadcv')}</a>
    </div>
</div>

<script defer>


</script>