---

---

<article class="bg-base-100">
    <div class="py-10">
        <h2 class="text-center text-3xl mb-5 font-bold">Playlist do Artista</h2>
        <div class="card m-10 bg-black drop-shadow-lg">
            <ul class="flex flex-col">
                <p class="px-8 py-3 text-end text-blue font-bold text-[#2e763a]">play on <i class="fa-brands fa-spotify" style="color: #2e763a;"></i></p>
                <!-- insert microsservice logic here -->
            </ul>
        </div>
    </div>
</article>

<style>
</style>

<script>
</script>