---
import Playlist from "./playlist.astro";

---

<aside class="max-lg:hidden">
  <div class="p-2 max-h-screen">
    <ul class="menu rounded-box bg-transparent">
      <li>
        <a class=" px-4 pb-4 pt-5 hover:scale-125">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>
      </li>
      <li>
        <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-rose-600 ">
            <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
      </li>
      <li onclick="spotify_card.showModal()">
        <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-green-600">
            <i class="fa-brands fa-spotify fa-xl"></i>
        </a>
      </li>
    </ul>
    <div class="divider md:divider-vertical"></div>
    <ul class="menu bg-base-200 rounded-box bg-transparent">
        <li>
          <a class=" px-4 pb-4 pt-5 hover:scale-125">
              <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </li>
        <li>
          <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-rose-600 ">
              <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
        </li>
        <li>
          <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-sky-600">
              <i class="fa-brands fa-linkedin-in fa-xl"></i>
          </a>
        </li>
    </ul>
  </div> 

  <dialog id="spotify_card" class="modal">
    <div class="modal-box  max-w-fit">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <Playlist />
    </div>
  </dialog>
</aside>
    
