---
import { getLangFromUrl, useTranslations } from "../utils/utils";

import GithubCard from "./modal/github-card.astro";
import DiscordCard from "./modal/discord-card.astro";
import SpotifyCard from "./modal/spotify-card.astro";
import LinkedinCard from "./modal/linkedin-card.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<aside class="h-screen fixed bg-transparent max-lg:hidden">
  <div class="flex flex-col justify-center h-full align-center p-1">
    <ul class="menu rounded-box bg-transparent space-y-3">
      <GithubCard />
      <LinkedinCard>
    </ul>
    <div class="divider divider-vertical"></div>
    <ul class="menu rounded-box bg-transparent space-y-3">
      <DiscordCard />
      <SpotifyCard />
    </ul>
  </div> 
</aside>
    