---

---

<aside class="max-lg:hidden">
  <div class="p-2 max-h-screen">
    <ul class="menu rounded-box bg-transparent">
      <li>
        <a class=" px-4 pb-4 pt-5 hover:scale-125">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>
      </li>
      <li>
        <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-rose-600 ">
            <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
      </li>
      <li>
        <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-green-600">
            <i class="fa-brands fa-spotify fa-xl"></i>
        </a>
      </li>
    </ul>
    <div class="divider md:divider-vertical"></div>
    <ul class="menu bg-base-200 rounded-box bg-transparent">
        <li>
          <a class=" px-4 pb-4 pt-5 hover:scale-125">
              <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </li>
        <li>
          <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-rose-600 ">
              <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
        </li>
        <li>
          <a class="px-4 pb-4 pt-5 hover:scale-125 hover:text-sky-600">
              <i class="fa-brands fa-linkedin-in fa-xl"></i>
          </a>
        </li>
    </ul>
  </div>     
</aside>
    
