---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../utils/utils';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<BaseLayout>
  <article class="flex flex-col h-full max-lg:h-screen">
    <div class="grid grid-col lg:grid-cols-2 p-4">
      <div class="row px-4">
        <h2 class="text-center py-2">test</h2>
        <p class="text-justify">{t('about.intro')}</p>
      </div>
      
      <div class="row px-4">
        <!-- <h2 class="text-center py-2">test</h2> -->
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime molestias eos ducimus fugit quibusdam! Sint nesciunt quam ipsum quo tenetur deleniti obcaecati, in excepturi eius, ad voluptatem magnam, omnis quasi.</p>
      </div>
    </div>
  </article>
</BaseLayout>

<!-- 
    // TODO: build spanish, french and english full versions
    // TODO: fix responsiveness to small screens
    // TODO: carousel with highlighted projects 
  
-->