---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../utils/utils';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<BaseLayout title={t('nav.about')}>
  
  <article class="flex flex-col h-full">
    <div class="grid grid-col lg:grid-cols-4 p-2 h-full">

      <section class="row p-4 bg-base-200 m-1">
        <h2 class="text-center py-2 font-bold">{t('about.intro.title')}</h2>
        <p class="text-justify">
          {t('about.intro')}
        </p>
      </section> 

      <section class="row p-4 bg-base-200 m-1 flex flex-col justify-end">
        <h2 class="text-center py-2 font-bold">{t('about.nowdays.title')}</h2>
        <p class="text-justify">
          {t('about.nowdays')}
        </p>
      </section>

      <section class="row p-4 bg-base-200 m-1">
        <h2 class="text-center py-2 font-bold">{t('about.keypoints.title')}</h2>
        <p class="text-justify">
          {t('about.keypoints')}
        </p>
      </section>

      <section class="row p-4 bg-base-200 m-1">
        <h2 class="text-center py-2 font-bold">{t('about.hobbies.title')}</h2>
        <p class="text-justify">
          {t('about.hobbies')}
        </p>
      </div>

    </div>
  </article>
</BaseLayout>