---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../utils/utils';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="</rdvid>">
  <article class="flex flex-col h-screen lg:h-full lg:justify-around">
    
    <section>
      <div class="flex flex-col-reverse w-full justify-center lg:flex-row lg:align-center">
        <div class="flex flex-col justify-center w-6/12 max-lg:w-full text-center max-lg:p-4r">
          <p id="placeholder" class="hidden">{t('home.title')}</p>
          <h1 id="home-title" class="text-4xl font-bold text-center max-lg:text-3xl">‎ </h1>
          <div class="flex flex-row justify-center my-6">
            <ul class="text-lg font-light">
              <li class="flex flex-row">
                <span class="p-1">
                  <Icon name={'fa:laptop'} class='align-center'/>
                </span>
                <span>
                  {t('home.subtitle')}
                </span>
              </li>
              <li class="flex flex-row justify-center">
                <span class="p-1">
                  <Icon name={'fa:music'} />
                </span>
                <span>
                  {t('home.second-subtitle')}
                </span>
              </li>
            </ul>
          </div>
          <a class="btn btn-primary rounded-full self-center max-lg:w-6/12" 
              href=`${Astro.url.origin}/${lang}/about`>About me</a>
        </div>
        <Image loading='lazy' src="https://f005.backblazeb2.com/file/debbuggers/picofme (1).png"
                height={300} width={300} 
                class="w-9/12 lg:w-3/12 self-center my-8 rounded-xl shadow-2xl border-3 border-black shadow-gray-600" 
                aria-label="Rafael picture" alt="my profile picture" />
      </div>
    </section>
    
  </article>
</BaseLayout>

<script>
  var i = 0;
  var txt = `${document.getElementById("placeholder").innerText}`; /* The text */
  var speed = 150; /* The speed/duration of the effect in milliseconds */

  function typeWriter() {
    if (i < txt.length) {
      document.getElementById("home-title").innerHTML += txt.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    }
  }

  typeWriter();

</script>

<style>
  
</style>

