---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../utils/utils';
import ProjectCard from '../../components/card/project-card.astro';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<BaseLayout>
  <article>
    <div class="grid grid-cols-2">
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
      <div class="grid grid-row m-2">
        <ProjectCard />
      </div>
    </div>
  </article>
</BaseLayout>

