---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../utils/utils';
import ProjectCard from '../../components/card/project-card.astro';
import { projects } from '../../utils/projects.json';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<BaseLayout>
  <article>
    <div class="grid grid-cols-1 min-[768px]:grid-cols-2">
      {
        projects.map((project) => (
          <div class="grid grid-row m-2">
            <ProjectCard project={project} />
          </div>        
        ))
      }
    </div>
    <div class="divider">more coming soon</div>
  </article>
</BaseLayout>

