---
import { getLangFromUrl, useTranslations } from '../../utils/utils';

import BaseLayout from '../../layouts/BaseLayout.astro';
import NodeCard from '../../components/card/node-card.astro';
import NestCard from '../../components/card/nest-card.astro';
import ExpressCard from '../../components/card/express-card.astro';
import ReactCard from '../../components/card/react-card.astro';
import AngularCard from '../../components/card/angular-card.astro';
import JestCard from '../../components/card/jest-card.astro';

import PostgresCard from '../../components/card/postgres-card.astro';
import DjangoCard from '../../components/card/django-card.astro';
import PythonCard from '../../components/card/python-card.astro';
import LinuxCard from '../../components/card/linux-card.astro';
import GitCard from '../../components/card/git-card.astro';
import DockerCard from '../../components/card/docker-card.astro';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const cards = [
  NodeCard,
  NestCard,
  ExpressCard,
  AngularCard,
  ReactCard,
  JestCard,
  PostgresCard,
  DjangoCard,
  PythonCard,
  LinuxCard,
  GitCard,
  DockerCard
];
---

<BaseLayout>
  <article class="flex flex-col h-full" >
    <div class="grid grid-cols-1 min-[450px]:grid-cols-2 min-[625px]:grid-cols-3 min-[875px]:grid-cols-4 min-[1000px]:grid-cols-5 xl:grid-cols-6">
      {
        cards.map((Card)=>(
          <section class="grid m-1">
            <Card />
          </section>
        ))
      }
    </div>
  </article>
</BaseLayout>
