---
import { getLangFromUrl, useTranslations } from '../../utils/utils';

import BaseLayout from '../../layouts/BaseLayout.astro';
import NodeCard from '../../components/card/node-card.astro';
import NestCard from '../../components/card/nest-card.astro';
import ExpressCard from '../../components/card/express-card.astro';
import ReactCard from '../../components/card/react-card.astro';
import AngularCard from '../../components/card/angular-card.astro';
import JestCard from '../../components/card/jest-card.astro';

import PostgresCard from '../../components/card/postgres-card.astro';
import DjangoCard from '../../components/card/django-card.astro';
import PythonCard from '../../components/card/python-card.astro';
import LinuxCard from '../../components/card/linux-card.astro';
import GitCard from '../../components/card/git-card.astro';
import DockerCard from '../../components/card/docker-card.astro';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<BaseLayout>
  <article class="flex flex-col h-full max-lg:h-screen" >
      <div class="grid grid-cols-6">

        <section class="grid">
          <NodeCard />
        </section>
        <section class="grid">
          <NestCard />
        </section>
        <section class="grid">
          <ExpressCard />
        </section>
        <section class="grid">
          <AngularCard />
        </section>
        <section class="grid">
          <ReactCard />
        </section>
        <section class="grid">
          <JestCard />
        </section>

      </div>

      <div class="grid grid-cols-6 pt-4">

        <section class="grid">
          <PostgresCard />
        </section>
        <section class="grid">
          <DjangoCard />
        </section>
        <section class="grid">
          <PythonCard />
        </section>
        <section class="grid">
          <GitCard />
        </section>
        <section class="grid">
          <DockerCard />
        </section>
        <section class="grid">
          <LinuxCard />
        </section>

      </div>
  </article>
</BaseLayout>

<style>

  

</style>
