---
import { getLangFromUrl, useTranslations } from '../../utils/utils';
import type { TechnologyCard } from '../../interface/TechnologyCard'
import BaseLayout from '../../layouts/BaseLayout.astro';
import TechCard from '../../components/card/tech-card.astro';
import { technologyCards } from '../../utils/technology-cards.json'

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'br'}},
    {params: {lang: 'fr'}},
    {params: {lang: 'es'}},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
  <article class="flex flex-col h-fit" >
    <div class="grid grid-cols-1 min-[450px]:grid-cols-2 min-[625px]:grid-cols-3 min-[875px]:grid-cols-4 min-[1000px]:grid-cols-5 xl:grid-cols-6">
      {
        technologyCards.map((card: TechnologyCard)=>(
          <section class="grid my-4">
            <TechCard 
                name={card.name}
                bgHexColor={card.bgHexColor}
                iconHexColor={card.iconHexColor} />
          </section>
        ))
      }
    </div>
    
  </article>
</BaseLayout>
