---
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
import Sidebar from "../components/sidebar.astro"
---

<html lang="en" data-theme="lofi" class="min-h-full max-lg:min-w-fit lg:h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/6b3a9e549b.js" crossorigin="anonymous" defer></script>
		<title>< rdvid /></title>
	</head>

	<body class="min-h-full max-md:max-h-screen lg:h-full" onload="typeWriter()">
        <Header />
        <div class="flex flex-col lg:flex-row h-4/5 items-center">
            <Sidebar />
            <div class="w-full pt-6 pr-6 pl-2 bg-base-100 h-full">
                <slot />
            </div>
        </div>   
        <Footer/ >
	</body>
    
</html>
